{% extends 'base.html.twig' %}


{% block body %}
	<div
		class="container col-md-6 mt-5 text-center">
		{# code để hiển thị flash message được gửi từ controller #}
		<div class="container col-md-4">
			{% for flash in app.flashes('Success') %}
				<p class="alert alert-warning">{{ flash }}</p>
			{% endfor %}
			{% for flash in app.flashes('Error') %}
				<p class="alert alert-danger">{{ flash }}</p>
			{% endfor %}
		</div>
		<h1 class="text text-success">Delivery List</h1>
		<a href="{{ path('delivery_add') }}" class="btn btn-success">Add delivery</a>
		<div class="form-group col-md-6 mt-3">
			<form action="{{ path('delivery_search') }}" method="post">
				<input type="search" name="word" required class="form-control" placeholder="Search delivery name">
			</form>
		</div>
		<table class="table table-primary mt-3">
			<thead>
				<tr>
					<th>Delivery Id</th>
					<th>Delivery Name</th>
					<th>Delivery Description</th>
					<th>Delivery Image</th>
					<th>Menu</th>
				</tr>
			</thead>
			<tbody>
				{% for delivery in deliverys %}
					<tr>
						<td>{{ delivery.id }}</td>
						<td>{{ delivery.name }}</td>
						<td>{{ delivery.description }}</td>
						<td>
							<a href="{{ path ('delivery_detail', {'id' : delivery.id })}}">
								<img src="{{ delivery.image }}" width="100" height="100">
							</a>
						</td>
						<td>
							<a href="{{ path ('delivery_edit', {'id' : delivery.id })}}" class="btn btn-warning">Edit</a>
							<a href="{{ path ('delivery_delete', {'id' : delivery.id })}}" class="btn btn-danger" onclick="return confirm('Are you sure to delete this delivery ?');">Delete</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
