{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-6 mt-5">
    <div class="container col-md-4 mt-5">
    {% for flash in app.flashes('Success') %}
        <p class="alert alert-primary">{{flash}}</p>
    {% endfor %}
     {% for flash in app.flashes('Error') %}
        <p class="alert alert-danger">{{flash}}</p>
    {% endfor %}
    </div>
    <h1 class="text text-primary text-center">Category list</h1>
    {# page for admin #}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{path('category_add')}}" class="btn btn-success btn-center">Add new category</a>
    <div class="form-group col-md-6 mt-3">
        <form action="{{ path('category_search') }}" method="post">
            <input type="search" name="word" required class="form-control" placeholder="Search category name">
        </form>
    </div>
    <table class="table table-primary">
        <thead>
        <tr>
            <th>Category ID</th>
            <th>
            <a href="{{path('sort_asc_category')}}"><img src="{{asset('images/up.png')}}" width="10" height="10"></a>      
            Category name   
            <a href="{{path('sort_desc_category')}}"><img src="{{asset('images/down.png')}} " width="10" height="10"></a>
            </th>
            
            <th>Menu</th>
        </tr>
        </thead>
        <tbody>
        {% for c in categories %}
            <tr>
                <td>{{c.id}}</td>
                <td><a href="{{path('category_detail', {'id': c.id})}}">{{c.name}}</a></td>
                <td>
                    <a href="{{path('category_edit', {'id':c.id})}}" class="btn btn-danger">Edit</a>
                    <a href="{{path('category_delete', {'id':c.id})}}" class="btn btn-warning"
                    onclick="return confirm('do you want to delete?')">Delete</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# page for user #}
    {% else %}
    <table class="table table-primary">
        <thead>
        <tr>
            <th>Category ID</th>
            <th>
            <a href="{{path('sort_asc_category')}}"><img src="{{asset('images/up.png')}}" width="10" height="10"></a>      
            Category name   
            <a href="{{path('sort_desc_category')}}"><img src="{{asset('images/down.png')}} " width="10" height="10"></a>
            </th>
            
        </tr>
        </thead>
        <tbody>
        {% for c in categories %}
            <tr>
                <td>{{c.id}}</td>
                <td><a href="{{path('category_detail', {'id': c.id})}}">{{c.name}}</a></td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
