{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-6 mt-5">
    <div class="container col-md-4 mt-5">
    {% for flash in app.flashes('Success') %}
        <p class="alert alert-primary">{{flash}}</p>
    {% endfor %}
     {% for flash in app.flashes('Error') %}
        <p class="alert alert-danger">{{flash}}</p>
    {% endfor %}
    </div>
    <h1 class="text text-primary text-center">Product list</h1>
    {# page for admin #}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{path('product_add')}}" class="btn btn-success btn-center">Add new product</a>

    <table class="table table-primary">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>
            <a href="{{path('sort_asc_product')}}"><img src="{{asset('images/up.png')}}" width="10" height="10"></a>      
            Product name   
            <a href="{{path('sort_desc_product')}}"><img src="{{asset('images/down.png')}} " width="10" height="10"></a>
            </th>
            
            <th>Image</th>
            <th>Menu</th>
        </tr>
        </thead>
        <tbody>
        {% for p in products %}
            <tr>
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>

                <td>
                <a href="{{path('product_detail', {'id': p.id})}}"><img src="{{asset('images/products/' ~ p.image)}}" width="200" height = "200"></a>
                </td>
                <td>
                    <a href="{{path('product_edit', {'id':p.id})}}" class="btn btn-danger">Edit</a>
                    <a href="{{path('product_delete', {'id':p.id})}}" class="btn btn-warning"
                    onclick="return confirm('do you want to delete?')">Delete</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# page for user #}
    {% else %}
    <table class="table table-primary">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>
            <a href="{{path('sort_asc_product')}}"><img src="{{asset('images/up.png')}}" width="10" height="10"></a>      
            Product name   
            <a href="{{path('sort_desc_product')}}"><img src="{{asset('images/down.png')}} " width="10" height="10"></a>
            </th>
            
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {% for p in products %}
            <tr>
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>

                <td>
                <a href="{{path('product_detail', {'id': p.id})}}"><img src="{{asset('images/products/' ~ p.image)}}" width="200" height = "200"></a>
                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
